        <!-- about us -->
        <div class="container mt-5">
            <h1 class="display-4 text-center">About Us</h1>
            <p class="lead text-center">We are a dedicated team with a shared passion for language education and a commitment to providing a transformative learning experience for our users.</p>
    
            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="https://ringsidetalent.com/wp-content/uploads/2018/02/shutterstock_81556762-scaled.jpg" class="img-fluid rounded-circle" alt="Team Image">
                </div>
                <div class="col-md-6">
                    <p>We believe in the power of education to shape lives positively. Our team of experienced educators, content creators, and technology enthusiasts collaborate to offer a diverse range of courses designed to meet the unique needs of every learner.</p>
    
                    <p>Whether you are just starting your language learning journey or aiming to enhance your existing skills, we are here to support you. Our courses cover a broad spectrum, from fundamental language skills to advanced proficiency, providing a comprehensive and engaging curriculum.</p>
    
                    <p>We foster a community-driven approach, encouraging interaction, collaboration, and cultural exchange among our learners. Through live sessions, forums, and engaging content, we aim to create an inclusive learning environment that goes beyond traditional language education.</p>
    
                    <p>Thank you for choosing to be part of our learning community. We look forward to supporting you in your educational endeavors and helping you achieve your language learning goals.</p>
                </div>
            </div>
        </div>
        <!-- end about us -->
