
    <!-- courses -->
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="http://ielts-khv.ru/thumb/2/IT8iNOj2WdXVlv8H9Ua7Xw/r/d/ielts-1.png" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">IELTS Mastery</h5>
                            <p class="card-text">IELTS Preparation Course</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://ekaterina-alexeeva.ru/wp-content/uploads/2019/02/fab802924c367b831641a09e618e0b45.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Business English Pro</h5>
                            <p class="card-text">Business English Essentials</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://www.logolynx.com/images/logolynx/86/8674c773bdd7828083072b0fb9ec7a7a.png" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Grammar Boost</h5>
                            <p class="card-text">Intermediate Grammar Workshop</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://www.postposmo.com/wp-content/uploads/2020/05/proyectos-de-emprendimiento-2.jpeg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Talk the Talk</h5>
                            <p class="card-text">Conversational English Mastery</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://static.tildacdn.com/tild6234-3265-4462-a162-656431626536/toefl-logo.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">TOEFL Triumph</h5>
                            <p class="card-text">TOEFL Exam Success</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://vloghukasyan.files.wordpress.com/2016/10/vocabulary-blog.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Vocab Masterclass</h5>
                            <p class="card-text">Advanced Vocabulary Builder</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://i.pinimg.com/736x/e3/87/64/e3876470c5f52889138d02d9eea77427.jpg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">Write to Excel</h5>
                            <p class="card-text">Academic Writing Skills</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <img src="https://yt3.ggpht.com/a/AATXAJxWstKWxlKe_ovj2NVObJRbkBwBIanjAqG5jg=s900-c-k-c0xffffffff-no-rj-mo" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">English Basics</h5>
                            <p class="card-text">Everyday English for Beginners</p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>